.article {
    border: 10px solid black;
    background-color: lightpink;
    margin: 40px;
    width: 500px;
    box-shadow: 50px 50px 20px gray;
    /* box-shadow: 20px 40px 0 green; */
    /* box-shadow: -20px 40px 20px gray; */
    
}

.header {
    height: 6000px;
    background-color: lightgreen;
    background-image: url("aaron-burden-xtIYGB0KEqc-unsplash.jpg");
    background-repeat: no-repeat;
    /* background-repeat: repeat-x;
    background-repeat: repeat-y; */
    background-size: auto;
    /* background-size: contain; */
    /* background-size: cover; */
    background-position: 100px 200px;
    /* background-position: center; */
    /* background-position: right top; */
    background-image: url("../images/nathan-anderson-L95xDkSSuWw-unsplash.jpg");

}


