body {
    max-width: 1170px;
    /* background-color: skyblue; */
    margin: 0 auto;
}

.card-section {
    text-align: center;
}

.card-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.205);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    background-color: rgba(127, 255, 212, 0.637);
}

.card h3 {
    font-size: 1.25em;
    font-weight: 700;
}

.card button {
    background-color: aqua;
    padding: 10px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}