* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.btn {
    background-color: #469165;
    color: #ffffff;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

#banner {
    background: url("../assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 115.5px 0 179.5px;
}

.banner-content {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.banner-content .banner-top {
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    max-width: 229px;
    margin: 0 auto;
    border: none;
    border-radius: 1000px;
    font-weight: 500;
}

.banner-head {
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
}

#banner-head-1 {
    color: #FFFFFF;
}

#banner-head-2 {
    color: #30B868;
    margin-bottom: 16px;
}

.banner-para {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 300;
}

#banner-para-2 {
    margin-top: 10px;
    margin-bottom: 32px;
}

.banner-btn {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-btn .btn {
    border: 1px solid #469165;
    padding: 16.5px 16px;
    font-size: 16px;
    font-weight: 600;
}

.transparent-btn {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16.5px 16px;
    font-size: 16px;
    font-weight: 600;
}

.cards-section {
    padding: 0;
}

.cards-section .section-head {
    text-align: center;
}

.cards-section .section-head h2 {
    margin-top: 50px;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.cards-section .section-head p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 24px;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}

.card {
    padding: 69.5px 24px;
    box-shadow: 0 0 6px #00000010;
    text-align: center;
}

.cards .card img {
    background-color: #F95555;
    padding: 10px;
    border: none;
    border-radius: 100%;
    margin-bottom: 16px;
}

.card h3 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#second-brain {
    padding: 120px 0;
}

.sb-content {
    display: flex;
    gap: 60px;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}

.sb-content .sb-texts {
    padding: 102px 0;
}

.sb-texts .p-top {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}

.sb-texts h2 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;

}

#sb-texts-h2-2 {
    margin-bottom: 16px;
}

.sb-texts .p-bottom {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
    max-width: 470px;
}

.sb-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sb-content li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.sb-content li span {
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

#ready-section {
    padding: 0 0 120px;
}

.ready-content {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 0;
    border: none;
    border-radius: 12px;
}

.ready-content h2 {
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    letter-spacing: 2px;
}

.ready-content .ready-p1 {
    color: #627382;
    font-size: 16px;
    line-height: 24px;
}

.ready-content .ready-p2 {
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.ready-content .ready-p3 {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;

}

footer {
    background-color: #001931;
    padding: 120px 0 30px;
}

footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto 80px;
}

.footer-top h4 {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    letter-spacing: 1px;
}

.social {
    display: flex;
    gap: 16px;
}

.social a {
    text-decoration: none;
    color: #FFFFFF;
}

.social i {
    font-size: 20px;
}

footer hr {
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    height: 1px;
    background-color: #FFFFFF;
    opacity: 0.2;
}

.footer-bottom {
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.footer-bottom p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}

